$primary-color: #364AFE;
$primary-color-2: #6F7DFE;
$secondary-color: #0E1554;

$gray-color: #A1A1A7;

$navbar-item-color: #98A2F9;

body {
    font-family: 'Poppins', sans-serif;
    width: 100% !important;
}

footer {
    .container {
        margin-top: 200px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 10px
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $secondary-color;

    
    .loader-container {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 20;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .loader-body {
            position: relative;
            width: 200px;
            height: 200px;
            .loader-logo {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                z-index: 10;
                width: 100px;
                height: 100px;
            }
        }
    }
    #loader {
        position: relative;
        width: 200px;
        height: 200px;
        z-index: 50;
        border-radius: 50%;
        border: 10px solid transparent;
        border-top-color: $primary-color;

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 10px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 10px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
}

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}

.loaded .loader-logo {
    opacity: 0;
    -webkit-transition: all 0.5s ease-out; 
    transition: all 0.5s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out; 
            transition: all 0.3s 0.6s ease-out;
}

.row-button {
    margin-top: 32px;

    .btn-primary {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 21px;
        padding-left: 21px;
        background-color: $primary-color;
        font-size: 15px;
        border-radius: 9px;
        border: none;

        &.with-icon span {
            margin-left: 6px;
        }
    }

    .btn-primary:hover {
        background-color: #2d3fe6;
        border: none;
    }

    .text-secondary {
        color: $gray-color;
        text-decoration: none;
        margin-left: 20px;

        span {
            margin-left: 9px;
        }
    }
}

.hero-landing {
    @media only screen and (min-width: 992px) { 
        background-image: url(../img/hero-landing-wave.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    background-color: white;

    .hero-navbar {
        padding-top: 42px;
        padding-bottom: 42px;

        .nav-item .nav-link {
            color: $navbar-item-color
        }
    }

    .hero-container {
        padding-top: 86px;
        h1 {
            font-size: 60px;
            @media only screen and (max-width: 503px) {
                font-size: 50px;
            }
            color: $secondary-color;
            font-weight: 700;
        }
        p {
            font-size: 20px;
            margin-top: 23px;
            color: $secondary-color;
            font-weight: 400;
        }

        .row-button {
            padding-bottom: 400px;
        }
    }

}

section {
    h3.title {
        font-size: 35px;
        font-weight: bold;
        line-height: 52px;
        color: $secondary-color
    }

    p.desc {
        font-size: 20px;
        font-weight: normal;
        line-height: 40px;
        color: $gray-color;
        margin-top: 23px;
    }
}

section.about {
    margin-top: 100px;
    
    .skills {
        margin-top: 32px;
    }
    
    .skill {
        @media only screen and(max-width: 767px) {
            margin-bottom: 50px;
        }

        .tidesc {
            margin-left: 16px;

            @media only screen and(max-width: 1200px) {
                margin-top: 16px
            }
    
            h4 {
                font-size: 20px;
                font-weight: 800;
            }
    
            div {
                font-size: 15px;
                color: $gray-color
            }
        }
    }
}

section.portfolio {
    width: 100%;
    margin-top: 250px;

    h5 {
        font-size: 20px;
        color: $secondary-color;
        font-weight: 600;
    }

    span {
        color: $gray-color;
        font-size: 14;
    }

    a.text {
        text-decoration: none;
        &:hover {
            span {
                cursor: pointer;
                color: $secondary-color;
                text-decoration: underline;

                &:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
            .eye {
                fill: $secondary-color;
            }
        }
        
        span {
            color: $gray-color;
        }
    }

    .portfolio-item {
        @media only screen and (max-width: 767px) {
            margin-top: 25px;
        }
    }
}

section.hire {
    margin-top: 250px;

    .benefit-container {
        @media only screen and (max-width: 506px) {
            h3 {
                text-align: center;
            }
        }
        @media only screen and (max-width: 576px) { 
            margin-top: 25px;
        }
        .benefits {
            margin-top: 1px;
    
            .benefit-item {
                margin-top: 33px;
    
                span {
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }

}

section.contact {
    margin-top: 250px;
    margin-bottom: 100px;

    @media only screen and (min-width: 992px) { 
        p.desc {
            max-width: 465px;
        }
    }

    .contacts {
        margin-top: 44px;

        .contact-item {
            margin-left: 23px;

            &#contact-instagram {
                margin-left: 0px;
            }

            &:hover path.contact-icon {
                fill: $primary-color;
            }
        }
    }
}